.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 80%;
    margin: 0 auto;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    /* column-gap: 30px; */
    margin: 80px 40px;
}

.cart-container{
    position: fixed;
    background-color: #e9e3ee;
    height: auto;
    /* width: 300px; */
    padding-bottom: 10px;
    padding-right: 5px;
    right: 80px;
    top: 80px;
    margin-right: 50px;
}
.cart-container h3{
    text-align: center;


}
.order-btn{
    margin: 10px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: rgb(175, 245, 62);;

}
.order-btn:hover{
    background-color: orange;
}


@media  screen and (max-width:600px) {
    .products-container{ 
        grid-template-columns: repeat(1, 1fr);
    }
    .shop-container{
        grid-template-columns:  repeat(1, 1fr);
    }
    
}

    