.adedd-product-cart{
   display: flex;
   
   margin-top: 10px;
   padding: 10px;
   border-radius: 8px;
   background-color: aqua;
}
.adedd-product-cart img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}